[submodule "DeepLearningWithMXNetGluon"]
	path = DeepLearningWithMXNetGluon
	url = https://github.com/thomelane/DeepLearningWithMXNetGluon
[submodule "labs/lstnet/LSTNet-Gluon"]
	path = labs/lstnet/LSTNet-Gluon
	url = https://github.com/thomelane/LSTNet-Gluon
